<div class="row">
  <div class="col-4">Recherche par nom : </div>
  <input class="col-3 form-control" type="text" #nomSaisi>
  <button type="button" class="col-3 btn btn-info offset-1" (click)="rechercherCol(nomSaisi.value)">Rechercher</button>
</div>
<div *ngIf="matricules" class="row">
    <ul>
        <li *ngFor="let mat of matricules">
            <button class="btn btn-link" (click)="selectionnerCol(mat)">{{mat}}</button>

        </li>
    </ul>
</div>

<div *ngIf="matriculeNonTrouve" class="alert alert-warning" role="alert">
    Le nom ne correspond à aucun collègue !
  </div>
  <div *ngIf="erreurTechnique" class="alert alert-danger" role="alert">
    Entrez le nom d'un collègue
  </div>
  
