<nav class="navbar navbar-expand-lg bg-info">
    <span class="col-6 navbar-text">
      Bienvenue dans l'annuaire de l'entreprise des Looney !
    </span>
    <span class="col-1 navbar-text alert-info text-center">
      <a class="alert-link" routerLink="/accueil" routerLinkActive="menu-selectionne"> Accueil </a>
    </span>
    <span class="col-1 navbar-text alert-info offset-1 text-center">
      <a class="alert-link" routerLink="/galerie" routerLinkActive="menu-selectionne"> Galerie </a>
    </span>
    <span class="col-1 navbar-text alert-info offset-1 text-center">
      <a class="alert-link" routerLink="/a-propos" routerLinkActive="menu-selectionne"> A propos </a>
    </span>  
</nav>

<div class="row"><br></div>
  
<main class="container-fluid">
  <!-- partie qui change en fonction de l'url -->
  <router-outlet></router-outlet>
</main>
