<ng-container *ngIf="col">
  <div class="card border-dark bg-info mb-3">
    <div class="row no-gutters">
      <div class="col-md-6 text-center">
        <img src="{{col.photoUrl}}" class="card-img border-dark img-thumbnail rounded" style="max-height: 300px; width: auto; margin-top: 15px; margin-bottom: 15px;" alt="">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Bonjour, collègue !</h5>
          <div class="row">
            <div class="col card-text">Matricule :</div><div class="col card-text">{{col.matricule}}</div>
          </div>
          <div class="row">
              <div class="col card-text">Nom :</div><div class="col card-text">{{col.nom | uppercase}}</div>
          </div>
          <div class="row">
            <div class="col card-text">Prénoms :</div><div class="col card-text">{{col.prenoms}}</div>
          </div>
          <div class="row">
            <div class="col card-text">Date de naissance :</div><div class="col card-text">{{col.dateDeNaissance | date:'dd/MM/yyyy'}}</div>
          </div>
          <div class="row">
            <div class="col card-text">E-mail :</div>
            <div *ngIf="modeAffichage" class="col card-text">{{col.email}}</div>
            <input *ngIf="!modeAffichage" class="col form-control form-control-sm" type="email" placeholder="pnom@looneyemail.grr">
          </div>
          <div class="row">
            <div *ngIf="!modeAffichage" class="col card-text">Photo URL :</div>
            <input *ngIf="!modeAffichage" class="col form-control form-control-sm" type="text">
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-5 offset-5">
    <button *ngIf="modeAffichage" type="button" class="btn btn-link" (click)="creerColl()">Créer un nouveau collègue</button>
  </div>
  <div class="col-2">
    <button *ngIf="modeAffichage" type="button" class="btn btn-info" (click)="modifierColl()">Modifier</button>
    <button *ngIf="!modeAffichage" type="button" class="btn btn-info" (click)="validerColl()">Valider</button>
  </div>
</div>

</ng-container>

