<div class="card border-dark bg-info mb-3" style="max-width: 1000px; margin-left: 10rem; margin-top: 2rem;">
    <div class="row no-gutters">
      <div class="col-md-6 text-center">
        <img src="{{col.photoUrl}}" class="card-img border-dark img-thumbnail rounded" style="max-height: 300px; width: auto; margin-top: 15px; margin-bottom: 15px;" alt="">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Bonjour, collègue !</h5>
          <div class="row">
            <div class="col-sm card-text">Matricule :</div><div class="col-sm card-text">{{col.matricule}}</div>
          </div>
          <div class="row">
              <div class="col-sm card-text">Nom :</div><div class="col-sm card-text">{{col.nom | uppercase}}</div>
          </div>
          <div class="row">
            <div class="col-sm card-text">Prénoms :</div><div class="col-sm card-text">{{col.prenoms}}</div>
          </div>
          <div class="row">
            <div class="col-sm card-text">Date de naissance :</div><div class="col-sm card-text">{{col.dateDeNaissance | date:'dd/MM/yyyy'}}</div>
          </div>
          <div class="row">
            <div class="col-sm card-text">E-mail :</div>
            <div *ngIf="condition" class="col-sm card-text">{{col.email}}</div>
            <input *ngIf="!condition" class="col-sm form-control form-control-sm" type="email" placeholder="pnom@looneyemail.grr">
          </div>
          <div class="row">
            <div *ngIf="!condition" class="col-sm card-text">Photo URL :</div>
            <input *ngIf="!condition" class="col-sm form-control form-control-sm" type="text">
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm offset-sm-7">
    <button *ngIf="condition" type="button" class="btn btn-link" (click)="quandOnClique()">Créer un nouveau collègue</button>
  </div>
  <div class="col-sm">
    <button *ngIf="condition" type="button" class="btn btn-info" (click)="quandOnClique()">Modifier</button>
    <button *ngIf="!condition" type="button" class="btn btn-info" (click)="quandOnClique()">Valider</button>
  </div>
</div>


