<div class="card border-dark mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{col.photoUrl}}" class="card-img" style="max-height: 300px; width: auto;" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bonjour, collègue !</h5>
          <p class="card-text"> Matricule : {{col.matricule}} <br>
            Nom : {{col.nom}} <br>
            Prénoms : {{col.prenoms}} <br>
            Date de naissance : {{col.dateDeNaissance | date:'dd/MM/yyyy'}} <br>
            E-mail : {{col.email}} </p>
        </div>
      </div>
    </div>
  </div>
